{{#if newNodeVersionAvailable}}
<div class="">
  <button type="button" class="" data-dismiss="alert">&times;</button>
  <strong>Heads up!</strong> A new Nano Node version
  <strong>{{newNodeVersionAvailable}}</strong> is available.
  <a class="alert-link" href="https://github.com/nanocurrency/nano-node/releases/latest" target="_blank" rel="noopener">Download it here!</a>
</div>
{{/if}}

  {{#if nanoNodeAccount}}
  <div class="">
    <span class='uk-text-uppercase uk-margin-small-left uk-text-meta'> Node Account Address </span>
    <div class="uk-margin-right">
      <span class="uk-label uk-label-banano uk-text-truncate">
        <a href="#" rel="noopener" class="uk-link-reset repqrcode" uk-tooltip="title: Click to copy; pos: bottom-center; delay: 100;">{{nanoNodeAccount}}</a>
      </span>
    </div>
  </div>
  {{/if}}

  <div class="uk-margin-small-top">
    <span class='uk-text-uppercase uk-margin-small-left uk-text-meta'> Node </span>
    <div class="">
      <span class="uk-label uk-label-blue">Version: {{version}}</span>
      {{#if store_vendor}}
      <span class="uk-label uk-label-blue">Database: {{store_vendor}}</span>
      {{/if}}
      <span class="uk-label uk-label-blue">Node Uptime: {{formatSeconds nodeUptimeStartup}}</span>
      {{#if nodeUptime}}
      <span class="uk-label uk-label-blue">Node Uptime {{nodeUptime}}%</span>
      {{/if}}
      <span class="uk-label uk-label-blue">Peers: {{formatNumber numPeers}}</span>
    </div>
  </div>

  <div class="uk-margin-small-top">
    <span class='uk-text-uppercase uk-margin-small-left uk-text-meta'> Blocks </span>
    <div class="">
      <span class="uk-label uk-label-blue">Current Block: {{formatNumber currentBlock}}</span>
      <span class="uk-label uk-label-blue">Cemented Blocks: {{formatNumber cementedBlocks}}</span>
      <span class="uk-label uk-label-blue">Unchecked Blocks: {{formatNumber uncheckedBlocks}}</span>
      <!--<span class="uk-label uk-label-blue">Sync Status: 
      {{#if blockSync}}
        {{formatNumber blockSync}} %
      {{else}} 
        N/A 
      {{/if}}</span>-->
    </div>
  </div>

  <div class="uk-margin-small-top">
    <span class='uk-text-uppercase uk-margin-small-left uk-text-meta'> Node Account </span>
    <div class="uk-margin-right">
      <!--<span class="uk-label uk-label-blue uk-text-truncate ">Representative: 
        {{#if repAccount}}
        <a href="{{repAccountUrl}}" target="_blank" rel="noopener" class="uk-link-reset">{{repAccount}}</a>
        {{else}} Account not opened {{/if}}
      </span>-->
      <span class="uk-label uk-label-blue">Voting Weight: {{formatNano votingWeight 6}} {{currencySymbol}}</span>
      <span class="uk-label uk-label-blue">Balance: {{formatNano accBalanceMnano}} {{currencySymbol}}</span>
      <span class="uk-label uk-label-blue">Pending: {{formatNano accPendingMnano 6}} {{currencySymbol}}</span>
    </div>
  </div>

  <div class="uk-margin-small-top">
    <span class='uk-text-uppercase uk-margin-small-left uk-text-meta'> System </span>
    <div class="">
      <span class="uk-label uk-label-blue">Host: {{nanoNodeName}}</span>
      <span class="uk-label uk-label-blue">Location: 
      {{#if nodeLocation}}
        {{nodeLocation}}
      {{else}}
        N/A
      {{/if}}
      </span>
      <span class="uk-label uk-label-blue">Load: {{formatNumber systemLoad}}</span>
      <span class="uk-label uk-label-blue">Memory Used: {{formatNumber usedMem}} / {{formatNumber totalMem}} MB</span>
    </div>
  </div>

  <div class="uk-margin-medium-top">
    <p class='uk-text-small uk-text-meta uk-margin-remove-bottom'>Powered by <a href="https://github.com/NanoTools/nanoNodeMonitor" target="_blank" rel="noopener">Nano Node Monitor</a></p>
  </div>

  <div class="uk-margin-small-top" id="">
    <!--<span class="uk-label uk-label-banano"><a href="#qrmodal" class="uk-link-reset" uk-toggle>Copy Address | Scan QR Code</a></span>-->
    <span class="uk-label uk-label-banano"><a href="#qr" class="uk-link-reset" uk-toggle>QR Code</a></span>
    <span class="uk-label uk-label-banano"><a href="#instructions" class="uk-link-reset" uk-toggle>How To</a></span>
    <span class="uk-label uk-label-banano"><a href="#donations" class="uk-link-reset" uk-toggle>Donations</a></span>
  </div>

</div>
